.p_factura {
    font-size: medium;
    color: black;
    align-content: center;
    align-self: center;
}

.h1Tienda {
    font-size: 30px;
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #8DECB4;
    color: #41B06E;
    text-underline-offset: 20px;
    margin-bottom: 4px;
}

.h1Factura {
    font-weight: bold;
    text-decoration: underline;
    text-decoration-color: #8DECB4;
    color: #41B06E;
    text-underline-offset: 15px;
    margin-bottom: 20px;
}